*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

} 
 img{
    width: 100%;
}
#video{
    text-align: center;
}
.menu{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;
    
}
body{
    background-image: Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),

    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

a {
    text-decoration: none;
}

ul li {
    list-style-type:none;
    margin-left: 30px; 
}

}
#navbar {
    display: flex;
    justify-content: flex-start;
}
#navbar img{
    height: 50px;
    width: 50px;
}
#textArea {
    height: auto;
}

h1{
color: cornsilk;
text-align: center;
}
#images div{
    margin-bottom: 10px;
}
#images {
    margin-left: 200px;
    margin-right: 200px;
}
#images img{
    
    height: 250px;
    width: 250px;
   
}

#cour1{
    background-image: url("../res/img1.jpg");
    width: 250px;
    height: 250px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    display: inline-block;
    align-items: center;
    justify-content: center;

}
#cour2{
    background-image: url("../res/img2.jpg");
    width: 250px;
    height: 250px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    display: inline-block;
    align-items: center;
    justify-content: center;

}
#cour3{
    background-image: url("../res/img3.jpg");
    width: 250px;
    height: 250px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    display: inline-block;
    align-items: center;
    justify-content: center;

}
#cour4{
    background-image: url("../res/4.png");
    width: 250px;
    height: 250px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    display: inline-block;
    align-items: center;
    justify-content: center;

}
#cour5{
    background-image: url("../res/5.png");
    width: 250px;
    height: 250px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    display: inline-block;
    align-items: center;
    justify-content: center;

}
#cour6{
    background-image: url("../res/6.png");
    width: 250px;
    height: 250px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    display: inline-block;
    align-items: center;
    justify-content: center;

}

#btn1,#btn2,#btn3,#btn4,#btn5,#btn6 {
    visibility: hidden;
}

#barre{
    width:100%;
    height: 20px;
}

#top{
    background-image:url("../res/webdev3.png");
    width:100%;
    height: 400px;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    box-shadow:10px 10px 10px grey; 
}

#title{
    font-size: 500%;
    font-weight: bold;
    color: #f8f8f8;
    text-shadow: 2px 2px 2px black; 
    padding-top: 150px;

}

#formulaire{

    margin-top: 100px;
}

#feed{
    font-size: 300%;
    font-weight: bold;
    color: #f8f8f8;

}
#text {
    margin: auto;
    text-align: center;
}
#text form{
    margin: auto;
    width: 250px;
}
.title{
    font-size: 100%;
    
    font-weight: bold;
    color: #f8f8f8;

}
.btn-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}