img{
    width: 100%;
}
#video{
    text-align: center;
}
.menu{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;
    
}
body{
    background-image: Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),

    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

a {
    text-decoration: none;
}

ul li {
    list-style-type:none;
    margin-left: 30px; 
}

#text{
    text-align: center;

}
ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#navbar {
    display: flex;
    justify-content: flex-start;
}
#navbar img{
    height: 50px;
    width: 50px;
}
#textArea {
    height: auto;
}

h1{
color: cornsilk;
text-align: center;
}
#images{
    display: flex;
    justify-content: space-around;
    
}
#images img{
    
    height: 250px;
    width: 250px;
   
}

#cour1{
    background-image: url("../res/img1.jpg");
    width: 250px;
    height: 250px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
#cour2{
    background-image: url("../res/img2.jpg");
    width: 250px;
    height: 250px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
#cour3{
    background-image: url("../res/img3.jpg");
    width: 250px;
    height: 250px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

#btn1 {
    visibility: hidden;
}

#barre{
    width:100%;
    height: 20px;
}